<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    {% include 'header.html' %}

    <div class="flex justify-center m-auto mt-20">
      <img class="h-auto w-40" src="{{url_for('static',
      filename="images/success.png")}}" alt="">
    </div>

    <div class="flex justify-center m-auto mt-10">
      <h2
        class="md:text-3xl text-3xl md:leading-10 font-extrabold text-[#333] mb-4"
      >
        Successfully Downloaded Video!!
      </h2>
    </div>

    <div class="flex justify-center m-auto mt-10">
      <a href="/">
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Download another video
        </button></a
      >
    </div>

    {% include 'footer.html' %}
  </body>
</html>
